/*
    ____             __  ____      ___     
   / __ \____  _____/ /_/ __/___  / (_)___ 
  / /_/ / __ \/ ___/ __/ /_/ __ \/ / / __ \
 / ____/ /_/ / /  / /_/ __/ /_/ / / / /_/ /
/_/    \____/_/   \__/_/  \____/_/_/\____/ 
                                           
             Copyright 2017
*/

@media only screen and (max-width: 1300px) {
  #logo {
    width: 200px;

    margin-bottom: 80px;
  }

  h1 {
    margin-bottom: 30px;

    font-size: 10em;
  }

  p {
    font-size: 2em;

    &.contact-info {
      margin-top: 1em;

      font-size: 1.1em;
    }
  }
}

@media only screen and (max-width: 835px) {
  body {
    padding-left: 60px;
    padding-right: 60px;
  }

  #logo {
    width: 175px;

    margin-bottom: 50px;
  }

  h1 {
    margin-bottom: 30px;

    font-size: 8em;
  }

  p {
    font-size: 1.5em;

    &.contact-info {
      margin-top: 0.8em;

      font-size: 0.9em;
    }
  }
}

@media only screen and (max-width: 615px) {
  body {
    padding-left: 45px;
    padding-right: 45px;
  }

  h1 {
    font-size: 7em;
  }

  p {
    font-size: 1.35em;

    &.contact-info {
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 535px) {
  #logo {
    width: 150px;
  }

  h1 {
    margin-bottom: 20px;

    font-size: 6em;
  }

  p {
    font-size: 1.15em;

    &.contact-info {
      font-size: 0.7em;
    }
  }
}

@media only screen and (max-width: 470px) {
  #logo {
    width: 135px;

    margin-bottom: 40px;
  }

  h1 {
    margin-bottom: 10px;

    font-size: 5.5em;
  }

  p {
    font-size: 1em;

    &.contact-info {
      font-size: 0.7em;
    }
  }
}

@media only screen and (max-width: 420px) {
  body {
    padding-left: 30px;
    padding-right: 30px;
  }

  #logo {
    width: 120px;
  }

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 0.95em;

    &.contact-info {
      font-size: 0.7em;
    }
  }
}

@media only screen and (max-width: 320px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
