/*
    ____             __  ____      ___     
   / __ \____  _____/ /_/ __/___  / (_)___ 
  / /_/ / __ \/ ___/ __/ /_/ __ \/ / / __ \
 / ____/ /_/ / /  / /_/ __/ /_/ / / / /_/ /
/_/    \____/_/   \__/_/  \____/_/_/\____/ 
                                           
             Copyright 2017
*/

html {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background: #d35400;
  color: white;

  padding: 12px 90px;
}

a {
  position: relative;

  color: white;
  text-decoration: none;

  &.link {
    font-style: italic;

    &:before {
      content: '';
      background: white;

      position: absolute;
      bottom: -4px;
      left: 50%;

      width: 50%;
      height: 1px;

      transform: translateX(-50%);
      transition: width .2s ease, bottom .2s ease;
    }

    &:hover:before {
      bottom: -2px;

      width: 100%;
    }
  }
}